# OpenAI api key for accessing different models
OPENAI_API_KEY=

# Deepseek api key for accessing different models
DEEPSEEK_API_KEY=

# Groq api key for accessing different models
GROQ_API_KEY=

# HuggingFace API key for accessing different models
HF_TOKEN=

# AI based Web search
TAVILY_API_KEY=

